body {
    margin: 0;
    height: 100vh;
    min-height: 100vh;

    position: relative;
    background-image: url('/it-a/assets/img/person1.jpg');
    background-position: center;
    background-size: cover;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}


#side-container {
    display: flex;
    height: 100%;
}

#left-side-caption{
    color: white;
    z-index: 1;
}
.left-side-desc {
    font-size: 1.2rem;
}

.left-side-item {
    margin: 3rem 0;
}

#left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    flex-grow: 1;
}
#left-side-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}


#right-side-header {
    background-color: #3585E8;
    padding: 5px;
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#right-side-title {
    margin: 0;
}
#right-side {
    /* background-color: #424242; */
    /* background-color: #FFF; */
    flex-grow: 1;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-container {
    border-radius: 3px;
    /* width: 340px; */
    width: 500px;
    z-index: 2;
    height: 500px;
    background-color: white;
    box-shadow: -10px -10px 30px 4px rgba(0,0,0,0.1),
              10px 10px 30px 4px rgba(0,0,0,0.15);
}


#form-wrapper {
    padding: 5px;
}

.form-row {
    margin: 5px 0;
}

#btn-daftar {
    background-color: #3585E8;
    color: white;
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

.form-label {
    display: block;
    width: 100%;
}
.form-input {
    display: block;
    width: 100%;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid #DFDFDF;
}


/* responsive code */
@media screen and (max-width: 1199px) { 
    
}

@media screen and (max-width: 991px) { 
    
}

@media screen and (max-width: 767px) { 
    
}


@media screen and (max-width: 575px) { 
    
}

@media screen and (max-width: 450px){
   
}
/* responsive code */

